/* Estilos para la sección hero */
#hero {
    background-color: #f5f5f5; /* color de fondo */
    padding: 50px; /* espacio alrededor del contenido */
    text-align: center; /* alineación del texto */
  }
  
  /* Estilos para la llamada a la acción dentro de la sección hero */
  #hero a {
    color: #fff; /* color del texto */
    background-color: #333; /* color de fondo */
    padding: 10px 20px; /* espacio alrededor del texto */
    border-radius: 5px; /* bordes redondos */
    text-decoration: none; /* elimina la subraya */
  }
  /* Estilos para las dos columnas */
.columna-izquierda, .columna-derecha {
    width: 48%; /* tamaño de las columnas */
    float: left; /* posicionamiento de las columnas */
    padding: 0 20px; /* espacio alrededor del contenido */
  }
  
  /* Estilos para los contenedores de imágenes */
  .contenedor-imagen {
    width: 100%; /* tamaño del contenedor */
    overflow: hidden; /* oculta el contenido que excede el tamaño del contenedor */
  }
  
  /* Estilos para las imágenes dentro de los contenedores */
  .contenedor-imagen img {
    width: 100%; /* tamaño de la imagen */
  }
  /* Estilos para la sección de la galería */
#galeria {
    text-align: center; /* alineación del texto */
  }
  
  /* Estilos para las categorías de la galería */
  .categoria {
    width: 25%; /* tamaño de las columnas */
    float: left; /* posicionamiento de las columnas */
    padding: 20px; /* espacio alrededor del contenido */
  }
  
  /* Estilos para las imágenes de la galería */
  .categoria img {
    width: 100%; /* tamaño de las imágenes */
    border: 2px solid #333; /* borde de las imágenes */
    padding: 10px; /* espacio alrededor de las imágenes */
    margin-bottom: 20px; /* margen inferior de las imágenes */
  }
  
  /* Estilos para la barra de calificación del servicio */
  #calificacion {
    clear: both; /* limpia el posicionamiento de las columnas */
    text-align: center; /* alineación del texto */
  }
 
